        <section id="footer">
            <div class="container py-3">
                <p>&copy 2019 YeetCode</p>
            </div>
        </section>

        <!-- Custom JS -->
        <script type="text/javascript" src="/scripts/common.js"></script>
    </body>
</html>
