  </head>

  <body>

    <!-- main navbar -->
    <!-- <nav id="mainNavBar" class="navbar fixed-top navbar-dark navbar-expand-md">
      <div id="container" class="container">
        <a class="navbar-brand" href="/home"><img src="" width="30" height="30"></a>
        <button id="toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navLinks" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navLinks" class="collapse navbar-collapse">
          <ul class="navbar-nav d-flex justify-content-between">
            <li id="about-container" class="nav-item">
              <a id="about-link" href="/about" class="nav-link">Link 1</a>
            </li>
            <li id="events-container" class="nav-item">
              <a id="events-link" href="/events" class="nav-link">Link 2</a>
            </li>
            <li id="blog-container" class="nav-item">
                <a id="blog-link" href="/blog" class="nav-link">Blog</a>
              </li>
          </ul>
        </div>
      </div>
    </nav> -->
