<!-- main navbar -->
<nav id="mainNavBar" class="navbar fixed-top navbar-dark navbar-expand-md">
    <div id="container" class="container">
        <a class="navbar-brand" href="/home">Yeet</a>
        <button id="toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navLinks" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navLinks" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a id="about-link" href="/exercises/0" class="nav-link">Link 1</a>
            </li>
        </ul>
        </div>
    </div>
</nav>