<% include ./partials/header-top %>

<title>yeet</title>

<% include ./partials/header-bottom %>

<!-- CSS -->
<link rel="stylesheet" href="/stylesheets/home.css">

<section id="content">
    <h1>YeetCode</h1>
    <!-- <span id="blinking">|</span> -->
    <a href="/exercise/0" class="mt-4">
        <button>&nbspGet Started&nbsp</button>
    </a>
</section>

<script src="/scripts/home.js"></script>

<% include ./partials/footer %>