body{
    background-color: white;
    color: black;
    font-family: 'Nunito', sans-serif;
}

/********************************* HEADER *************************************/

#header{
    font-family: "FreeMono", monospace;
    text-align: center;
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
    text-transform: lowercase;
    position: absolute;
    top: 1px;
    left: 10px;
}

#header a{
    color: white;
}

#header a:hover{
    color: white;
    cursor: pointer;
    text-decoration: none;
}

/********************************* EX INFO ************************************/

#exercise{
    font-size: 1.9rem;
    font-weight: 100;
    margin-bottom: 0 !important;
    cursor: default;
    padding-top: 2px;
}

#exercise-info{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 0;
    background: white;
    width: 15% !important;
    border-radius: 18px;
}

#exercise-info h3{
    background: -webkit-linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.added-div{
    background-image: linear-gradient(-120deg, #89f7fe 0%, #66a6ff 100%);
    padding: 3px;
}

#exercise-info i{
    margin-top: 5px;
    font-size: 2rem;
    cursor: pointer;
}

#exercise-info a{
    color: rgb(226, 226, 226);
}

#exercise-info a:hover i{
    background: -webkit-linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#exercise-details p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
}

#q{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white !important;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

/********************************* CONTENT ************************************/

.row{
    height: 80vh;
}

#editor{
    height: 50%;
    width: 100%;
    font-size: 1rem;
    border-right: 1.5px solid rgb(224, 224, 224);
    padding: 0 !important; 
}

#terminal{
    height: 50%;
    width: 100%;
    background-color: white;
    border-right: 1.5px solid rgb(224, 224, 224);
    color: black;
    padding: 0 !important;
}

form{
    height: 5vh;
}

#ide{
    padding: 0;
}

#code_vis{
    font-size: 1rem;
    height: 87.75vh;
    width: 100%;
    padding: 0;
    border-left: 3px solid rgb(224, 224, 224);
}
 
#submit-btn{
    font-size: 1.5rem;
    line-height: 1.4rem;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    z-index: 100;
}

#submit-btn i{
    font-size: 1.25rem;
    padding: 0;
    margin-left: 280px;
}

#submit-btn i:hover{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(226, 226, 226);
    cursor: pointer;
}

#terminal-head{
    font-size: 1.25rem;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    text-align: center;
    color: white;
    padding: 0 !important;
    line-height: 2.5rem;
    margin-right: 0 !important;
}


#editor-head{
    color: white;
    line-height: 3rem !important;
    margin-bottom: 0;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    width: 100%;
    text-align: center;
    border-right: 1.5px solid rgb(224, 224, 224);
    padding: 0 !important; 
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0 !important;
}

#code_vis.col-6{
    margin-left: 0;
}

#editor-head button{
    margin-right: 0 !important;
}

#ide{
    margin-right: 0 !important;
}

#editor-head p{
    margin-left: 340px;
}

#vis-head{
    font-size: 1.25rem;
    color: white;
    background-image: linear-gradient(-120deg, #e0c3fc 0%, #8ec5fc 100%);
    line-height: 2.75rem;
    width: 100%;
    text-align: center;
    border-left: 0px solid rgb(224, 224, 224);
}

#editor-head p{
    margin-bottom: 0;
}

#defaultCanvas0{
    position: absolute;
    top: 20vh;
    left: 60vw;
    z-index: 50;
}

#diamond{
    transform: rotate(45deg);
    color: rgb(33, 145, 236);
}

#legend{
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
}

.fa-square{
    color: rgb(181, 87, 221);
}

.branch{
    color: #EE609C;
}

#legend span{
    font-size: 1rem;
    font-weight: 200;
}

#legend div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#legend{
    position: relative;
    top: 675px;
}