body{
    background-color: black;
    color: white;
}

.row, #code_edit, #code_vis{
    padding-left: 20px;
    padding-right: 20px;
}

#header{
    font-family: "FreeMono", monospace;
    text-align: center;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    background: black;
    color: black;
    text-transform: lowercase;
}

#code_vis{
    background-color: white !important;
    width: 100%;
}

#mainNavBar{
    margin-top: 5rem;
}

#exercise-info{
    display: flex;
    justify-content: center;
    text-align: center;
}

#exercise-info h3{
    font-weight: 100;
    margin-bottom: 0 !important;
    font-size: 2rem;
    cursor: default;
}

#exercise-info i{
    font-size: 2.5rem;
    cursor: pointer;
}

#exercise-info a{
    color: white;
}

#exercise-info a:hover i{
    color: gray;
}

#exercise-details p{
    color: rgb(3, 167, 126);
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

#header a{
    color: black;
}

#header a:hover{
    color: black;
    cursor: pointer;
    text-decoration: none;
}

/* textarea{
    font-size: 1.95rem;
    width: 100%;
    resize: none;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0);
    border-radius: 8px;
} */

#editor {
    /* position: relative; */
    height: 500px;
    width: 100%;
}

#header a{
    background-color: teal;
    color: white;
}



