body{
    background-color: black;
    font-family: "FreeMono", monospace;
    color: white;
    text-align: center;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#dec{
    color: rgb(26, 156, 58);
    opacity: 0.5;
}

#content h1{
    font-size: 6rem;
    text-transform: lowercase;
}

button{
    border-radius: 18px;
    color: white;
    background-color: black;
    font-size: 1.5rem;
    text-transform: lowercase;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

button:hover{
    background-color: white;
    color: black;
    border: 1px solid white;
}

.blink{
    opacity: 0;
}